accelerate==0.20.3
aiohttp==3.8.3
aiosignal==1.3.1
anyio==4.4.0
appdirs==1.4.4
arrow==1.3.0
arxiv==1.4.8
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
black==23.1.0
blessed==1.20.0
blis==0.7.11
blosc2==2.0.0
boto3==1.35.19
botocore==1.35.19
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==2.1.1
click==8.1.7
comm==0.2.2
confection==0.1.5
contourpy==1.1.1
croniter==1.3.15
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
datasets==2.11.0
dateutils==0.6.12
debugpy==1.8.5
decorator==5.1.1
deepdiff==7.0.1
dill==0.3.6
distlib==0.3.8
docker-pycreds==0.4.0
editdistance==0.8.1
editor==1.6.6
eng_to_ipa==0.0.2
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.88.0
feedparser==6.0.11
filelock==3.16.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2022.11.0
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.1.0
google-api-core==2.19.2
google-auth==2.34.0
google-generativeai==0.1.0rc1
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.62.3
h11==0.14.0
homoglyphs==2.0.4
huggingface-hub==0.16.4
identify==2.6.1
idna==3.10
importlib_metadata==8.5.0
inquirer==3.4.0
ipykernel==6.21.1
ipython==8.12.2
ipywidgets==8.0.4
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
langcodes==3.4.0
language_data==1.2.0
Levenshtein==0.21.1
lightning==1.9.0
lightning-cloud==0.5.70
lightning-utilities==0.11.7
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.14
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.6.0
nltk==3.8.1
nodeenv==1.9.1
numexpr==2.8.6
numpy==1.24.4
ordered-set==4.1.0
packaging==22.0
pandas==1.5.3
panphon==0.20.0
parso==0.8.4
pathlib_abc==0.1.1
pathspec==0.12.1
pathtools==0.1.2
pathy==0.11.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==4.3.3
pre-commit==3.0.4
preshed==3.0.9
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==1.10.18
pyenchant==3.2.2
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
python-multipart==0.0.9
pytorch-lightning==1.9.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
rapidfuzz==3.9.7
readchar==4.2.0
regex==2024.9.11
requests==2.28.2
responses==0.18.0
rich==13.8.1
rsa==4.9
runs==1.2.2
s3transfer==0.10.2
safetensors==0.4.5
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.2.0
sentry-sdk==2.14.0
setproctitle==1.3.3
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
starlette==0.22.0
starsessions==1.3.0
tables==3.8.0
thinc==8.1.12
threadpoolctl==3.5.0
tokenizers==0.14.1
tomli==2.0.1
torch==1.13.1+cu117
torchmetrics==1.4.2
tornado==6.4.1
tqdm==4.64.1
traitlets==5.14.3
transformers==4.34.1
typer==0.7.0
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
unicodecsv==0.14.1
urllib3==1.26.20
uvicorn==0.30.6
virtualenv==20.26.4
wandb==0.15.0
wasabi==1.1.3
wcwidth==0.2.13
websocket-client==1.8.0
websockets==11.0.3
widgetsnbextension==4.0.13
xmod==1.8.1
xxhash==3.5.0
yarl==1.11.1
zipp==3.20.2
