accelerate==0.20.3
aiohttp==3.8.3
arxiv==1.4.8
black==23.1.0
datasets==2.11.0
eng-to-ipa==0.0.2
fsspec==2022.11.0
gensim==4.3.3
google-generativeai==0.1.0rc1
homoglyphs==2.0.4
huggingface-hub==0.16.4
ipykernel==6.21.1
ipython==8.12.2
ipywidgets==8.0.4
Levenshtein==0.21.1
pytorch_lightning==1.9.0
matplotlib==3.6.3
matplotlib-venn==1.1.1
pandas==1.5.3
panphon==0.20.0
pre-commit==3.0.4
pyenchant==3.2.2
python-dotenv==0.21.1
nltk==3.8.1
requests==2.28.2
scikit-learn==1.2.2
spacy==3.5.3
tables==3.8.0
torch==1.13.1
tqdm==4.64.1
transformers==4.34.1
transformers[sentencepiece]
wandb==0.15.0